/* **************************
* 회원가입 / 로그인 (join, login)
************************** */
@charset "UTF-8";
@import "./main.css";

div.content {
    width: 1000px;
    margin: 0 auto;
}

div.content .section {
    padding: 80px;
}

div.content .section>.article {
    width: 400px;
    margin: 0 auto;
    background-color: white;
    padding: 40px;
}

div.content .section>.article>ul {
    margin: 10px auto;
}

div.content .section>.article>ul>li {
    color: #ccc;
    width: 95%;
}

div.content .section>.article>ul>li input {
    width: calc(100% - 35px);
    background-color: #f7f7f7;
    margin: 10px 0 0 10px;
    padding: 10px;
    border: inherit;
}

div.article div.btns {
    text-align: center;
}

div.pointColor {
    background: linear-gradient(45deg, rgba(78, 197, 217, 1) 0%, rgba(38, 59, 151, 1) 100%);
}