/* **************************
*       게시글 목록(공통부분)
************************** */
@charset "UTF-8";
@import "./main.css";

/* **************************
*    게시글 쓰기 화면(테이블)
************************** */
div.content td {
    width: 800px;
    text-align: left;
}

div.content td input[type="text"] {
    width: 500px;
}

div.content td textarea {
    width: 750px;
    height: 200px;
}