/* **************************
*       게시글 목록(공통부분)
************************** */
@charset "UTF-8";
@import "./main.css";

/* **************************
*    글 자세히 보기
************************** */
div.content td {
    width: 800px;
    text-align: left;
}

pre {
	width: 750px;
	height: 150px;
	font-size: 1rem;
}

/* **************************
*  댓글
************************** */
div.reply_write {
	width: 1000px;
	margin: 20px auto;
	display: flex;
	justify-content: space-between;
	align-items:center;
}
/* 댓글 입력창 */
input#replyContent {
	width : 900px;
	height: 35px;
}

/* 댓글 표현 영역 */
div#reply_list td.no {
	width:150px;
	text-align: center;	
}

div#reply_list td.btns {
	width:300px;
	text-align: center;	
}

div#reply_list td.date {
	width:350px;
	text-align: center;	
}

div#reply_list td.writer {
	width:300px;
	text-align: center;	
}