/* **************************
*       게시글 목록(공통부분)
************************** */
@charset "UTF-8";
@import "./main.css";

/* **************************
*      페이지 전체 폭
************************** */
div.content {
    width: 1000px;
    margin: 0 auto;

}

/* **************************
*      글개수, 검색창
************************** */
div.content>div.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

div.search {
    width: 550px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: right;
}

div.search select {
    width: 150px;
    height: 32px;
    border: 0px;
    outline: 1px solid rgb(0, 125, 200);
    border-radius: 10px;
}

div.search input[type="text"] {
    width: 300px;
    height: 35px;
}

/* **************************
*    게시글 목록 테이블
************************** */
.head {
    margin-top: 20px;
}

.no,
.writer,
.hitcount {
    width: 100px;
}

.create_date {
    width: 180px;
}

/* **************************
*    글쓰기 버튼
************************** */
div.write {
    width: 1000px;
    margin: 20px auto;
    text-align: center;
    
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
}

/* **************************
*    페이지 네이션
************************** */
nav.pagination {
    width: 1000px;
    margin: 20px auto;
    display: flex;           /* 추가: flexbox 적용 */
    justify-content: center; /* 추가: 가운데 정렬 */
    text-align: center;
}

.page-no {
	display: inline-block;
	width: 20px;
	height: 30px;
	padding: 0.4rem;
	margin: 0 2px;
	
	font-size: 1.2rem;
}

.current {
	color : red;
	font-weight: bold;
}